<div class="home-bg bg-white">
  <div class="header-title" style="width: 100%;  display: flex; justify-content: center; align-items: center;">
    <h1 class="mb-1 home-banner-title">UNLEASH YOUR PASSIONS</h1>
  </div>

  <div class="banner container mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fGNvbW11bml0eXxlbnwwfHwwfHx8MA%3D%3D);">
    <div class="container container-home-banner" style="width: 90%;">
      <p class="mt-2 home-banner-des">Tired of generic social media? <strong>HOBB</strong> is the app that connects you with people who share your passions and ignites real-life adventures through exciting events.</p>
      <div class="join-btn home-banner-btn">
        <%= link_to "Join now", hobbies_path, class: "btn btn-outline-light rounded-pill" %>
      </div>
    </div>
  </div>

  <div class="container flex-container mt-4">
    <div class="head-title" style="width: 100%;">
      <h5>Forget <u>
        <i>
          endless scrolling
        </i>
        </u>. On <strong>HOBB</strong>, you:
      </h5>
    </div>

    <div class="row mt-4">
      <div class="card-container flex-container" style="height: 100%;">
        <div class="col">
          <div class="card h100 border-dark mb-3 rounded-4" style="width: 95%;">
            <div class="card-header bg-transparent border-dark">Discover a vibrant community</div>
            <div class="card-body">
              <p class="card-text">Explore hundreds of groups dedicated to everything from baking and birdwatching to coding and rock climbing.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h100 border-dark mb-3 rounded-4" style="width: 95%;">
            <div class="card-header bg-transparent border-dark">Find your tribe</div>
            <div class="card-body">
              <p class="card-text">Connect with like-minded individuals based on your shared interests.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-container flex-container" style="height: 100%;">
        <div class="col">
          <div class="card h100 border-dark mb-3 rounded-4" style="width: 95%;">
            <div class="card-header bg-transparent border-dark">Dive into events</div>
            <div class="card-body">
              <p class="card-text">Join local workshops, attend meetups, and embark on thrilling experiences together.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h100 border-dark mb-3 rounded-4" style="width: 95%;">
            <div class="card-header bg-transparent border-dark">Spark meaningful connections</div>
            <div class="card-body">
              <p class="card-text">Go beyond likes and comments. Build genuine friendships and find your next adventure buddy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-4 mb-4" style="width: 100%;">
    <div class="head-title" style=" display: flex; justify-content: center; align-items: center;">
      <h1 class="head-slogan"><strong>HOBB</strong> is more than just an app, it's a <em><u>movement!</u></em> </h1>
    </div>
  </div>


  <div class="container cards-container">
    <div class="card text-bg-dark rounded-4">
      <img src="https://images.unsplash.com/photo-1494809610410-160faaed4de0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlJTIwZG9pbmclMjBhY3Rpdml0aWVzfGVufDB8fDB8fHww" class="card-img rounded-4" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Empowering self-expression</h5>
        <p class="card-text" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Showcase your talents and passions through engaging profiles and event creations.</p>
      </div>
    </div>

    <div class="card text-bg-dark rounded-4">
      <img src="https://images.unsplash.com/photo-1520156557489-31c63271fcd4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHBlb3BsZSUyMGhhdmluZyUyMGZ1bnxlbnwwfHwwfHx8MA%3D%3D" class="card-img rounded-4" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Celebrating diversity</h5>
        <p class="card-text" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Embrace the richness of different interests and perspectives.</p>
      </div>
    </div>


    <div class="card text-bg-dark rounded-4">
      <img src="https://images.unsplash.com/photo-1582298538104-fe2e74c27f59?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fHBlb3BsZSUyMGhhdmluZyUyMGZ1bnxlbnwwfDF8MHx8fDA%3D" class="card-img rounded-4" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Fostering real-world connections</h5>
        <p class="card-text" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Break the screen barrier and create lasting memories in person.</p>
      </div>
    </div>
  </div>




  <div class="mt-4">
    <div class="container col-sm-6 col-lg-4 mb-4 flex-container">

      <div class="card-home text-center bg-tansparent border-dark">
        <div class="card-body">
          <h5 class="card-title">"This app is a breath of fresh air! I love how it connects me with people who share my passions. I've already met some amazing people and participated in fun events."</h5>
        </div>
      </div>

      <div class="card-home text-center bg-tansparent border-dark">
        <div class="card-body">
          <h5 class="card-title">"HOBB is a great way to get out of your comfort zone and try new things. I finally signed up for that pottery class I've always wanted to take, thanks to an event I found on the app."</h5>
        </div>
      </div>

      <div class="card-home text-center bg-tansparent border-dark">
        <div class="card-body">
          <h5 class="card-title">"The app is easy to use and navigate. I love the clean interface and the vibrant colors. It makes finding events and connecting with people enjoyable."</h5>
        </div>
      </div>

    </div>


  </div>

</div>
