<div class="header-title" style="width: 100%;  display: flex; justify-content: center; align-items: center;">
  <h1 class="mb-1 home-banner-title">UNLEASH YOUR PASSIONS</h1>
</div>



<div class="banner container mt-4" style="background-image: url(https://images.unsplash.com/photo-1557683311-eac922347aa1?q=80&w=1429&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container container-home-banner" style="width: 90%;">
    <p class="mt-2 home-banner-des">Tired of generic social media? <strong>HOBB</strong> is the app that connects you with people who share your passions and ignites real-life adventures through exciting events.</p>
    <div class="join-btn home-banner-btn">
      <%= link_to "Join now", hobbies_path, class: "btn btn-outline-light rounded-pill" %>
    </div>
  </div>
</div>

<div class="container flex-container mt-4">
  <div class="head-title" style="width: 70%;">
    <h5>Forget endless scrolling. On <strong>HOBB</strong>, you:</h5>
  </div>


  <div class="row mt-4">

    <div class="card-container flex-container">
      <div class="col">
        <div class="card h100 border-dark mb-3 rounded-4" style="height: 100%;">
          <div class="card-header bg-transparent border-dark">Discover a vibrant community</div>
          <div class="card-body">
            <p class="card-text">Explore hundreds of groups dedicated to everything from baking and birdwatching to coding and rock climbing.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h100 border-dark mb-3 rounded-4" style="height: 100%;">
          <div class="card-header bg-transparent border-dark">Find your tribe</div>
          <div class="card-body">
            <p class="card-text">Connect with like-minded individuals based on your shared interests.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="card-container flex-container">
      <div class="col">
        <div class="card h100 border-dark mb-3 rounded-4" style="height: 100%;">
          <div class="card-header bg-transparent border-dark">Dive into events</div>
          <div class="card-body">
            <p class="card-text">Join local workshops, attend meetups, and embark on thrilling experiences together.</p>
          </div>
        </div>
      </div>

      <div class="col">
      <div class="card h100 border-dark mb-3 rounded-4" style="height: 100%;">
        <div class="card-header bg-transparent border-dark">Spark meaningful connections</div>
        <div class="card-body">
          <p class="card-text">Go beyond likes and comments. Build genuine friendships and find your next adventure buddy.</p>
        </div>
      </div>
      </div>

    </div>

  </div>




</div>


<div class="container mt-4 mb-4" style="width: 100%;">
  <div class="head-title" style=" display: flex; justify-content: center; align-items: center;">
    <h1 class="head-slogan"><strong>HOBB</strong> is more than just an app, it's a <em>movement!</em> </h1>
  </div>
</div>
