<div class="container">
  <h1 class="title mt-3">Hobbies</h1>

  <% if current_user.admin? %>
    <%= link_to "Add a hobby", new_hobby_path, class: "btn rounded-pill me-2 btn-light mb-4" %>
  <% end %>

</div>


<div class="hobby-list">
  <div class="container cards-container">
    <% @hobbies.each do |hobby| %>

      <div class="card-category">
        <%= hobby.name %>
        <div class="btns">

          <%= link_to "Join", hobby_path(hobby), class: "btn rounded-pill me-2 btn-outline-dark btn-sm mb-4" %>

          <% if current_user.admin? %>
            <%= link_to "Delete", hobby_path(hobby), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn rounded-pill me-2 btn-dark btn-sm mb-4" %>
          <% end %>
        </div>

      </div>

    <% end %>

  </div>


</div>
