<h1 class="title mt-3">Hobbies</h1>

<%= link_to "Add a hobby", new_hobby_path, class: "btn btn-light mb-4" %>


<div class="hobby-list">
  <ul>
    <% @hobbies.each do |hobby| %>
      <li><%= hobby.name %></li>
      <%= link_to "Join", hobby_path(hobby), class: "btn btn-dark btn-sm mb-4" %>
      <%= link_to "Delete", hobby_path(hobby), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm mb-4" %>
    <% end %>
  </ul>
</div>
