<div class="form-hobby mt-4" style="width: 18rem;">
  <%= simple_form_for @hobby do |f| %>
  <%= f.input :name %>
  <div class="btn btn-light btn-sm">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>
