<div class="back-btn">
   <%= link_to "Back to Hobbies", hobbies_path(@hobbies), class: "btn btn-dark btn-sm mb-4" %>
</div>

<h1><%= @hobby.name %></h1>

<%= link_to "See all events", hobby_events_path(@hobby, @events), class: "btn btn-light mt-4" %>
<%= link_to "Add an event", new_hobby_event_path(@hobby, @event), class: "btn btn-light mt-4" %>
