.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(317deg, #fd9300, #f2eaf5);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    -o-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-item {
  font-family: 'Courier New', Courier, monospace;
  color: black;
}
